extends layout

block content
  .container
    h1= title
    dl Overview
      dt Total Balance
      dd= total_balance
    table#transactions-table.table.table-striped.table-bordered.table-hover(data-page-size=page_size)
      thead
        tr
          th Date
          th Ledger
          th Amount
          th Daily Total
          th Company
      tbody
        each transaction in transactions
          tr(class=transaction.isDuplicate ? "warning" : "")
            td= transaction.Date
            td= transaction.Ledger
            td= transaction.Amount
            td= transaction.DailyTotal
            td= transaction.Company
              if transaction.isDuplicate
                span &nbsp;
                span.label.label-warning Duplicate

    .panel.category-detail
      .panel-heading
        h3 Category Breakdowns
      .panel-body
        .row
          .col-md-4
            ul.nav.nav-pills.nav-stacked(role='tablist')
              each category_data, index in transactions_by_category
                li(role='tab')
                  a(href="#cateogry-#{index}", aria-controls="#cateogry-#{index}", role="tab", data-toggle="tab")= category_data.category

          .col-md-8
            .tab-content
              each category_data, index in transactions_by_category
                .tab-pane(id="cateogry-#{index}",role="tabpanel")
                  table.table.table-striped.table-bordered.table-hover
                    thead
                      tr
                        th Date
                        th Amount
                        th Company
                    tbody
                      each transaction in category_data.transactions
                        tr(class=transaction.isDuplicate ? "warning" : "")
                          td= transaction.Date
                          td= transaction.Amount
                          td= transaction.Company
                            if transaction.isDuplicate
                              span &nbsp;
                              span.label.label-warning Duplicate
                    tfoot
                      tr
                        td Total
                        td= category_data.total_balance
                        td

block bodyjs
  script(src="//code.jquery.com/jquery-2.1.4.min.js")
  script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  script(src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js")
  script.
    $(document).ready(function() {
      $('#transactions-table').DataTable({
        'pageLength': $('#transactions-table').data('page-size')
      });
    } );